In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
%matplotlib inline
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

In [4]:
df = pd.DataFrame(data  = iris.data, columns = iris.feature_names)

In [5]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
df['species'] = iris.target

In [7]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [8]:
df['species'].value_counts()

species
0    50
1    50
2    50
Name: count, dtype: int64

In [9]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

In [10]:
df.shape

(150, 5)

In [11]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [13]:
### Standardization
y = df['species']
X = df.drop(columns = ['species'], axis = 1)

In [15]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [46]:
X_scaled[:3]

array([[-0.90068117,  1.01900435, -1.34022653, -1.3154443 ],
       [-1.14301691, -0.13197948, -1.34022653, -1.3154443 ],
       [-1.38535265,  0.32841405, -1.39706395, -1.3154443 ]])

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.3, random_state = 42)

In [35]:
k = 5
knn = KNeighborsClassifier(n_neighbors = k)
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [36]:
y_pred = knn.predict(X_test)
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0])

In [37]:
accur_score = accuracy_score(y_test, y_pred)
print("Accuracy score: ", accur_score)

Accuracy score:  1.0

In [43]:
k = 30
acc = np.zeros(k)
std_dev = np.zeros(k)

for n in range(1, k+1):
    knn = KNeighborsClassifier(n_neighbors = n)
    knn.fit(X_train, y_train)
    
    y_pred = knn.predict(X_test)
    
    acc[n-1] = accuracy_score(y_test, y_pred)  
    print(f"Accuracy score for k ={n} : {np.round(acc[n-1],2)}")
                                       
    #print(f"Accuracy score for k={n}: {acc[n-1]}")

Accuracy score for k =1 : 0.98
Accuracy score for k =2 : 0.98
Accuracy score for k =3 : 1.0
Accuracy score for k =4 : 0.98
Accuracy score for k =5 : 1.0
Accuracy score for k =6 : 1.0
Accuracy score for k =7 : 1.0
Accuracy score for k =8 : 1.0
Accuracy score for k =9 : 1.0
Accuracy score for k =10 : 1.0
Accuracy score for k =11 : 1.0
Accuracy score for k =12 : 1.0
Accuracy score for k =13 : 1.0
Accuracy score for k =14 : 1.0
Accuracy score for k =15 : 1.0
Accuracy score for k =16 : 1.0
Accuracy score for k =17 : 1.0
Accuracy score for k =18 : 0.98
Accuracy score for k =19 : 1.0
Accuracy score for k =20 : 1.0
Accuracy score for k =21 : 1.0
Accuracy score for k =22 : 1.0
Accuracy score for k =23 : 1.0
Accuracy score for k =24 : 0.98
Accuracy score for k =25 : 0.96
Accuracy score for k =26 : 0.96
Accuracy score for k =27 : 0.93
Accuracy score for k =28 : 0.91
Accuracy score for k =29 : 0.89
Accuracy score for k =30 : 0.91

In [44]:
print(f"Highest accuracy_score {acc.max()} for k = {acc.argmax()+1}")

Highest accuracy_score 1.0 for k = 3

In [48]:
### Predicting on Unseen data
knn.predict([
    [-0.9, 1.01, -1.34, -1.31],
    [-1.14, -0.13, -1.34, -1.31],
    [-1.38, 0.32, -1.39, -1.31],
    [4.5, 0.9, 3.28, 3.31]
])

array([0, 0, 0, 2])